<!-- creating a navbar to go to home and author -->
<nav class="nav_menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allOrders">All Orders</a></li>
        <li><a href="/author">About Us</a></li>
    </ul>
</nav>